# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
Output/
logs.txt
run_streamlit.sh

# VSCode
.vscode/

# Mac
.DS_Store
utils/gs_credentials.json
credentials/service_account.json
service_account.json
